.form {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.w-100 {
  width: 100%;
}

.submit-container {
  display: flex;
  justify-content: flex-end;
}

.card-header {
  margin-bottom: 24px;
}