.form {
  display: flex;
  flex-direction: column;
  gap: 18px;

  .toggle-type {
    max-width: fit-content;
    margin-bottom: 16px;
  }
}

.w-100 {
  width: 100%;
}

.submit-container {
  display: flex;
  justify-content: flex-end;
}