@use '@angular/material' as mat;

// Customize the entire app. Change :root to your selector if you want to scope the styles.
:root {
  .snack-bar-success-feedback {
    @include mat.snack-bar-overrides((button-color: var(--mat-sys-on-surface),
        supporting-text-color: var(--mat-sys-on-surface),
        container-color: var(--custom-color-success),
      ));
  }

  .snack-bar-error-feedback {
    @include mat.snack-bar-overrides((button-color: var(--mat-sys-on-error),
        supporting-text-color: var(--mat-sys-on-error),
        container-color: var(--mat-sys-error),
      ));
  }
}