.sidenav-container {
  height: calc(100% - 64px);

  @media (max-width: 599px) {
    height: calc(100% - 56px);
  }
}

.sidenav {
  padding: 16px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}