<mat-card class="card">
  <div class="card-header-container">
    <ng-template [isIncome]="transaction().type" [isIncomeElse]="elseTemmplate">
      <mat-chip-set aria-label="Tipo de transação">
        <mat-chip selected>Ganho</mat-chip>
      </mat-chip-set>
    </ng-template>
    <ng-template #elseTemmplate>
      <mat-chip-set aria-label="Tipo de transação">
        <mat-chip selected>Gasto</mat-chip>
      </mat-chip-set>
    </ng-template>

    <div class="card-title">
      {{ transaction().title }}
    </div>
    <div class="card-value">
      <app-transaction-value [transaction]="transaction()" />
    </div>
  </div>
  <div class="card-actions">
    <button matButton="filled" matButtonColor="error" (click)="remove.emit(transaction())">
      Remover
    </button>
    <button matButton="filled" (click)="edit.emit(transaction())">Editar</button>
  </div>
</mat-card>
