@use 'mixins/media-query' as mq;

.card {
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 8px;

  @include mq.media-query(md) {
    flex-direction: row;
    gap: 0px;
  }

  .card-header-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .card-title {
    font-size: 18px;
    font-weight: 600;
  }

  .card-value {
    font-size: 16px;
  }

  .card-actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: auto;
    gap: 8px;
  }
}